<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>All Exams</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard/ongoing">
                <i class="fa-regular fa-file-lines"></i><span>Ongoing</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard/completed">
                <i class="fa-solid fa-square-check"></i></i><span>Completed</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard/upcoming">
                <i class="fa-solid fa-file-export"></i><span>Upcoming</span>
            </a>
        </li>
    </ul>
</aside>