<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/dashboard" class="logo d-flex align-items-center">
        <img src="/media/favicon.ico" alt="logo">
        <span class="d-none d-lg-block">UExam</span>
      </a>
    </div>

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>

        <li class="nav-item pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="/dashboard/profile">
            <img src="<%= profilePicture %>" alt="profile-image">
            <span class="d-none d-md-block ps-2">
              <%= name %>
            </span>
          </a>
        <li>
          <a class="d-flex align-items-center" style="color: #000000;" href="#">
            <i class="bi bi-question-circle"></i>
            <span class="m-2" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Need Help?</span>
          </a>
        </li>

        <li>
          <a class="d-flex align-items-center m-3" style="color: #000000;" href="/logout">
            <i class="bi bi-box-arrow-right"></i>
            <span class="m-2">Sign Out</span>
          </a>
        </li>
      </ul>
      </li>
      </ul>
    </nav>

  </header>