<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - UExam</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="/media/favicon.ico" rel="icon">

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/dashboard/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/dashboard" class="logo d-flex align-items-center">
        <img src="/media/favicon.ico" alt="logo">
        <span class="d-none d-lg-block">UExam</span>
      </a>
    </div>

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>

        <li class="nav-item pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#">
            <span class="d-none d-md-block ps-2"><%= name %></span>
          </a>
            <li>
              <a class="d-flex align-items-center" style="color: #000000;" href="#">
                <i class="bi bi-question-circle"></i>
                <span class="m-2">Need Help?</span>
              </a>
            </li>

            <li>
              <a class="d-flex align-items-center m-3" style="color: #000000;" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span class="m-2">Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

  </header>

  <% aside.ejs %>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <p class="breadcrumb">All Exams</p>
      </nav>
    </div>
    <section class="section dashboard mt-5">
      <h4>Ongoing</h4>
      <div class="row">
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <h4 class="mt-2">Upcoming</h4>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
      </div>
    </section>

  </main>


  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright 2024 - <strong><span>UExam</span></strong> All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </footer>

</body>
</html>