<%- include("./layout/boilerplate.ejs") %>

<body>

  <%- include("./includes/header.ejs") %>
  <%- include("./includes/aside.ejs") %>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <p class="breadcrumb">Home / Dashboard / All Exams</p>
      </nav>
    </div>
    <section class="section dashboard mt-5">
      <h4>Ongoing</h4>
      <div class="row">
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Fundamental Programming with C</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (19 March 2024)</p>
            <a href="/test">
              <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
            </a>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Python Programming</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">01:00 PM - 02:00 PM (19 March 2024)</p>
            <a href="/test">
              <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
            </a>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Engineering Mathematics</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (20 March 2024)</p>
            <a href="/test">
              <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
            </a>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Engineering Physics</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">01:00 PM - 02:00 PM (20 March 2024)</p>
            <a href="/test">
              <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
            </a>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Computer Networks</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (21 March 2024)</p>
            <a href="/test">
              <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
            </a>
          </div>
        </div>

        <h4 class="mt-2">Upcoming</h4>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Operating System</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">01:00 PM - 02:00 PM (21 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">System Design</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (22 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Differential Equations</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">01:00 PM - 02:00 PM (22 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Data Structures & Algorithms</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (23 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>

        <h4 class="mt-2">Completed</h4>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Mathematical and Computational Physics</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 PM - 10:00 PM (15 March 2024)</p>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Front-End Engineering</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">01:00 PM - 02:00 PM (16 March 2024)</p>
          </div>
        </div>

      </div>
    </section>
  </main>

  <%- include("./includes/footer.ejs") %>

</body>
</html>