<%- include("./layout/boilerplate.ejs") %>

<body>

  <%- include("./includes/header.ejs") %>
  <%- include("./includes/aside.ejs") %>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <p class="breadcrumb">Home / Dashboard / All Exams</p>
      </nav>
    </div>
    <section class="section dashboard mt-5">
      <h4>Ongoing</h4>
      <div class="row">
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <a href="/test">
              <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
            </a>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1">Give Test</button>
          </div>
        </div>
        <h4 class="mt-2">Upcoming</h4>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
        <div class="card m-3 p-2" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">JavaScript Quiz</h4>
            <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 AM - 10:00 AM (25 March 2024)</p>
            <button type="button" class="btn btn-outline-primary mt-1 disabled">Give Test</button>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("./includes/footer.ejs") %>

</body>
</html>