<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>UExam</title>
  <link href="/media/favicon.ico" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/bootstrap/boxicons/css/boxicons.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/">UExam</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#why-us">Why Us?</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Subscription</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="login" href="/auth/google">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Test Management System For Your University</h1>
          <h2>Online Exams, Assessments, Assignments, Auto-grading system — all in one platform</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-hero-explore scrollto">Explore</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/media/hero-section.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>

  <main id="main">

    <!-- About Us Section -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              UExam is a revolutionary test management system designed to empower organizations and educational institutions to streamline their online assessment process.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> World's best online examination system</li>
              <li><i class="ri-check-double-line"></i> Artificial Intelligence based proctoring system</li>
              <li><i class="ri-check-double-line"></i> Already used by 100+ institutions</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our mission is to simplify and revolutionize the way assessments are created, conducted, and analyzed. We believe that effective testing is crucial for ensuring quality outcomes, and we strive to provide the tools and resources that make this process seamless and insightful.
            </p>
            <a href="#services" class="btn-learn-more">Learn More</a>
          </div>
        </div>
        
      </div>
    </section>
    
    <!-- Services Section -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Experience the future of online exams with UExam. Our innovative platform empowers educators and learners with secure, efficient, and insightful assessments.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="service-card">
              <h4>Test Creation & Management</h4>
              <p>Design robust and secure assessments with our user-friendly interface.
                Build question banks with diverse question types to cater to your specific learning objectives.</p>
              </div>
            </div>
            
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-card">
              <h4>Automated Scoring & Reporting</h4>
                <p>Leverage automated scoring capabilities for objective assessments.
                  Generate comprehensive reports with detailed performance analysis for individual test-takers and groups.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-card">
              <h4>Security & Scalability</h4>
              <p>Ensure the integrity of your testing data with robust security features.
                Implement role-based access control to restrict unauthorized access.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-card">
              <h4>Customization & Integrations</h4>
              <p>Tailor the Uexam platform to your unique workflows and assessment methodologies.
                Define custom question attributes, scoring rules, and test configurations.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
            <div class="content">
              <h3>Why choose <strong>UExam</strong>?</h3>
              <p>
                Revolutionize your testing with a streamlined platform. Build, deliver, and analyze - all in one place.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-1" class="collapse"><span>01</span> Streamlined Testing <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Ditch the spreadsheets and fragmented tools! UExam offers a central hub for all your testing needs, from creating test plans and assigning tasks to managing test cases, reporting defects, and tracking progress. Imagine a smooth, organized workflow that keeps your entire team on the same page.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#accordion-list-2"><span>02</span> Enhanced Security <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Protect your sensitive testing data with robust security features. UExam offers role-based access control, encryption, and secure data storage to ensure the integrity of your testing assets.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> User-Friendly Interface <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      No time for complicated interfaces! Our system is intuitive and easy to use, minimizing training time and maximizing user adoption across your team.
                    </p>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/media/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>
      </div>
    </section>

    <!-- Pricing Section -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Subscription</h2>
          <p>Streamline your testing with UExam. Choose your subscription which best suites you!</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free Plan</h3>
              <h4><sup>&#8377;</sup>0<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Manage 5+ candidates at a time</li>
                <li><i class="bx bx-check"></i> Offer comprehensive analytics of test outcomes</li>
                <li><i class="bx bx-check"></i> Allow educators to offer feedback on performance</li>
                <li class="na"><i class="bx bx-check"></i><s> Export test results in various formats</s></li>
                <li class="na"><i class="bx bx-check"></i><s> AI based proctoring system</s></li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Individual Plan</h3>
              <h4><sup>&#8377;</sup>599<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Manage 100+ candidates at a time</li>
                <li><i class="bx bx-check"></i> Offer comprehensive analytics of test outcomes</li>
                <li><i class="bx bx-check"></i> Allow educators to offer feedback on performance</li>
                <li><i class="bx bx-check"></i> Export test results in various formats</li>
                <li><i class="bx bx-check"></i> AI based proctoring system</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Business Plan</h3>
              <h4><sup>&#8377;</sup>999<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Manage 5000+ candidates at a time</li>
                <li><i class="bx bx-check"></i> Offer comprehensive analytics of test outcomes</li>
                <li><i class="bx bx-check"></i> Allow educators to offer feedback on performance</li>
                <li><i class="bx bx-check"></i> Export test results in various formats</li>
                <li><i class="bx bx-check"></i> AI based proctoring system</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- Contact Us Section -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Connect With Us</h2>
          <p>Please provide correct details so that we can contact you.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Chitkara University, Chandigarh-Patiala National Highway (NH- 64) Village Jansla, Rajpura, Punjab 140401</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>pulkit0940.be23@chitkara.edu.in</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 98773 52658</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8175.030843380668!2d76.66006238630101!3d30.516031887249024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fc32344a6e2d7%3A0x81b346dee91799ca!2sChitkara%20University!5e0!3m2!1sen!2sin!4v1710064515105!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="#" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>UExam</h3>
            <p>Chitkara University<br>NH - 64, Village Jansla,<br>Rajpura, Punjab 140401<br>India<br><br>
              <strong>Phone:</strong> +91 98773 52658<br>
              <strong>Email:</strong> pulkit0940.be23@chitkara.edu.in<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Follow us on Social Media</h4>
            <div class="social-links mt-3">
              <a href="https://twitter.com/pulkitgarg04" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="http://github.com/pulkitgarg04/" class="github"><i class="bx bxl-github"></i></a>
              <a href="http://instagram.com/pulkitgxrg/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="http://linkedin.com/in/pulkitgarg04/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>UExam</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Made with &#9829; in India
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="/js/home.js"></script>
</body>
</html>