<%- include("../layout/boilerplate.ejs") %>

  <body>

    <%- include("../includes/header.ejs") %>
      
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
          <li class="nav-item">
              <a class="nav-link collapsed" href="/dashboard">
                  <i class="bi bi-grid"></i>
                  <span>All Exams</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="/dashboard/ongoing">
                  <i class="fa-regular fa-file-lines"></i><span>Ongoing</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/dashboard/completed">
                  <i class="fa-solid fa-square-check"></i></i><span>Completed</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="/dashboard/upcoming">
                  <i class="fa-solid fa-file-export"></i><span>Upcoming</span>
              </a>
          </li>
      </ul>
  </aside>

        <main id="main" class="main">
          <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
              <p class="breadcrumb">Home / Dashboard / Completed</p>
            </nav>
          </div>
          <section class="section dashboard mt-5">
            <div class="row">
              <h4 class="mt-2">Completed</h4>
              <div class="card m-3 p-2" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Mathematical and Computational Physics</h4>
                  <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">09:00 PM - 10:00 PM (15 March 2024)</p>
                </div>
              </div>
              <div class="card m-3 p-2" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Front-End Engineering</h4>
                  <p class="card-subtitle mb-2 text-muted" style="font-size: 13px;">01:00 PM - 02:00 PM (16 March 2024)</p>
                </div>
              </div>
        </div>
        </section>
      </main>

        <%- include("../includes/footer.ejs") %>

  </body>

  </html>