<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright 2024 - <strong><span>UExam</span></strong> All Rights Reserved
    </div>
    <div class="credits">
    </div>
</footer>